* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "system-ui", serif; /* Example font */
	line-height: 1.6;
	color: #333;
	margin: 0 auto;
	max-width: 800px;
	padding: 20px;
}


body > * {
	margin: 1rem 0;
}

h1,
h2,
h3 {
	color: #000;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}

ul,
ol {
	margin-left: 2em;
}

pre code {
	padding: 15px;
	display: block;
	overflow-x: auto;
	font-family: monospace; /* Monospaced font for code */
}

strong {
	font-weight: bold;
	color: #1a1a1a;
}


.codehilite {
	border-radius: 0.375rem;
}

.footer {
	text-align: center;
}


.footer img {
	max-width: 20px;
	line-height: 20px;
	display: inline-block;
	margin: 0 0.25rem;
	vertical-align: middle;
}

a {
	color: inherit;
}